@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  /* Remove the default margin */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Remove the default margin */
}
.word-break-all{
  word-break: break-all;
}

.textLayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto !important;
  line-height: 1.1;
  padding: 23px;
  
  /* text-align: center; */
  
}
.dataTable nav{
  background-color: transparent;
  border-top: 0;
}

/* width */
::-webkit-scrollbar {
  height: 3px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7272726f;
  
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.hidden-scroll::-webkit-scrollbar {
  display: none;
}
.button{
  @apply bg-transparent whitespace-nowrap border-2 border-gray-800 text-black py-2 h-fit px-4 rounded-2xl hover:bg-blue-500 hover:text-white hover:border-blue-500 transition-all w-fit disabled:bg-gray-500 disabled:text-white disabled:border-gray-500 disabled:cursor-not-allowed;
}
.custom-shadow{
  box-shadow: 0px 1px 18px 1px rgb(16 16 16 / 9%);
}
@keyframes glass {
  0% {
    background-position: 0% 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.animate-glass {
  background-size: 200% 100%;
  animation: glass 2s linear infinite;
}