@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  /* Remove the default margin */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Remove the default margin */
}
.word-break-all{
  word-break: break-word;
}

.textLayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto !important;
  line-height: 1.1;
  padding: 23px;
  
  /* text-align: center; */
  
}
@keyframes glass {
  0% {
    background-position: 0% 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.animate-glass {
  background-size: 200% 100%;
  animation: glass 2s linear infinite;
}